body {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

header {
  height: 10rem;
  width: 100%;
  padding: 5rem;
  font-size: 2rem;
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

#titulo {
  color: #420076;
  font-weight: 600;
  font-size: 5rem;
  padding-top: 2rem;
  margin: 0;
}

ul {
  margin-top: 1rem;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: auto;
}

nav {
  background-color: #420076;
  height: 3.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: azure;
  font-weight: bold;
  padding: 1.8rem;
  border-radius: 5%;
}

nav a:hover {
  background-color: hotpink;
  color: #420076;
  font-weight: 100;
  font-size: 1.2rem;
}

section {
  width: 80%;
  margin: 1.2rem auto 1.2rem auto;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-radius: 2%;
  background-color: bisque;
}

section h3 {
  color: #420076;
  font-size: 2rem;
  font-style: oblique;
  font-weight: 600;
  padding: 1rem;
}

section p {
  padding: 1rem;
}

table {
  margin: auto;
  width: 60%;
}

td {
  text-align: left;
  padding: 0.2rem;
  display: table-cell;
  vertical-align: middle;
}

.foto {
  display: inline-block;
}

.contenido {
  display: inline-block;
  padding: 1rem;
  margin-left: 2rem;
  background-color: azure;
  border-radius: 2%;
}

.item {
  border-radius: 5%;
}

button {
  border-radius: 5%;
  border: hotpink 2px solid;
  padding: 1.2rem;
  background-color: #43007634;
  font-weight: bold;
  text-align: center;
  color: #420076;
  font-size: 1.2rem;
  margin: 1rem;
}

button:hover {
  border: #43007634 2px solid;
  background-color: hotpink;
  color: azure;
}

footer {
  text-align: center;
  background-color: #420076;
  padding: 1.2rem;
  color: azure;
}

footer p {
  padding-top: 1.1rem;
}

footer img {
  padding-top: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: azure;
}

footer a:hover {
  color: hotpink;
}
